<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>CarServlet</servlet-name>
        <servlet-class>servlet.CarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarServlet</servlet-name>
        <url-pattern>/car</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarShopServlet</servlet-name>
        <servlet-class>servlet.CarShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarShopServlet</servlet-name>
        <url-pattern>/carshopservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>servlet.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>servlet.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServiceRequestServlet</servlet-name>
        <servlet-class>servlet.ServiceRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceRequestServlet</servlet-name>
        <url-pattern>/servicerequest</url-pattern>
    </servlet-mapping>

</web-app>
